<section id="outer-about-me" ng-cloak ng-controller="AboutMeController as about">
  <div id="left-shape"></div>
  <div id="right-shape"></div>
  <p id="about-me-paragraph">Bacon ipsum dolor amet laborum pancetta proident frankfurter nisi adipisicing alcatra consequat tri-tip duis shoulder consectetur id landjaeger. Commodo elit filet mignon sint eu mollit ground round cupidatat pariatur boudin duis swine frankfurter. Hamburger mollit jowl anim pastrami nulla non eu esse. Culpa incididunt strip steak ea. Duis shank meatball dolore eiusmod filet mignon ex dolor cillum minim pork loin ball tip nostrud. Cillum qui sunt, commodo drumstick swine short loin consectetur capicola nisi exercitation irure chuck turkey pork chop.</p>
</section>
