<section>
  <div class="logo-container">
    <div id=frame>
  <div id=spaceneedle></div>
    <div id=ring></div>
    <div id=ringtop></div>
    <div id=needle></div>
    <div id=bottom></div>
    <div id=bottom2></div>
    <div id=bottom3></div>
    <div id=letters1> Trunks</div>
    <div id=letters2> of</div>
    <div id=letters3> Seattle</div>
    <div id=bottom4></div>
    <div id=branch1></div>
    <div id=branch2></div>
    <div class=leaves id=leaves1></div>
    <div class=leaves id=leaves2></div>
    <div class=leaves id=leaves3></div>
    <div class=leaves id=leaves4></div>
    <div class=leaves id=leaves5></div>
    <div class=leaves id=leaves6></div>
    <div class=leaves id=leaves7></div>
    <div class=leaves id=leaves8></div>
    <div class=leaves id=leaves9></div>
   <div class=leaves id=leaves10></div>
  <p id="trade-mark">&copy; 2016 Trunks of Seattle</p>
</div>
  </div>
</section>
