<section class="logo-outer-container" ng-controller="logoController as logoCtrl">
  <section ng-class="logoCtrl.isAtTop ? 'sticky-section': 'non-sticky'">
    <h3>Logos I Created for Projects and My Friends</h3>
    <p>I love creating logos for each project I work on, so here are some of my works!</p>
  </section>
  <div class="logo-img-containers">
    <div id=frame>
  <div id=spaceneedle></div>
    <div id=ring></div>
    <div id=ringtop></div>
    <div id=needle></div>
    <div id=bottom></div>
    <div id=bottom2></div>
    <div id=bottom3></div>
    <div id=letters1> Trunks</div>
    <div id=letters2> of</div>
    <div id=letters3> Seattle</div>
    <div id=bottom4></div>
    <div id=branch1></div>
    <div id=branch2></div>
    <div class=leaves id=leaves1></div>
    <div class=leaves id=leaves2></div>
    <div class=leaves id=leaves3></div>
    <div class=leaves id=leaves4></div>
    <div class=leaves id=leaves5></div>
    <div class=leaves id=leaves6></div>
    <div class=leaves id=leaves7></div>
    <div class=leaves id=leaves8></div>
    <div class=leaves id=leaves9></div>
   <div class=leaves id=leaves10></div>
  <p id="trade-mark">&copy; 2016 Trunks of Seattle</p>
</div>
  </div>
  <div class="logo-img-containers">
    <img id="tealogo" src="./img/tealogo.png" alt="teacup logo" />
  </div>
  <div class="logo-img-containers">
    <img id="shelseylogo" src="./img/shelsey2.png" alt="Shelsey logo" />
  </div>
  <div class="logo-img-containers">
    <img id="ridesharetealogo" src="./img/ride-logo-idea.png" alt="rideshare logo idea" />
  </div>
  <div class="logo-img-containers">
    <img id="hoofitlogo" src="./img/hoofitlogo.png" alt="Hoofit logo" />
  </div>
</section>
