<section ng-cloak data-ng-controller="BlogController as blog">
  <form name="posting" action="index.html" method="post">
    <input name="posting" id="blog-title" ng-model="blog.newPost.title" type="text" placeholder="title of your article">
    <input name="posting" id="blog-auther" ng-model="blog.newPost.auther" type="text" placeholder="written by">
    <label name="posting" for="blog-body">Blog Content:</label>
    <textarea name="posting" id="blog-body" rows="20" cols="40" ng-model="blog.newPost.body"></textarea>
    <input name="posting" ng-click="blog.postNewBlog()" type="button" value="Create New Post">
  </form>
</section>
