<header>
  <section class="icon-sec">
    <span>
      <a href="#/home"><i class="fa fa-home fa-lg" aria-hidden="true"></i></a>
    </span>
    <span>
      <a href="https://www.linkedin.com/in/sawakoi"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
    </span>
    <span>
      <a href="https://github.com/ishidas"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
    </span>
  </section>
  <section class="myname-sec">
    <h2 id="animated-h2">Sawako Ishida Portfolio</h2>
  </section>
</header>
